/* Ensure body and html take up full width and prevent overflow */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.header {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  left: 0;
  box-sizing: border-box;
}

.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.product-list {
  padding-top: 100px;
  margin: 0 20px;
  color: #000000;
  font-size: 18px;
}

.icon {
  color: red;
  font-size: 30px;
}
